{% extends 'base.html.twig' %}

{% block title %}Craft and Co's Homepage{% endblock %}

{% block body %}

<div class="d-flex align-items-center h-100">
    <div class="d-flex logoCC rounded-2 align-items-center">
        <a href="{{path('app_login')}}">
            <img src="{{asset('img/LUUXCateringEvents-Final-01.png')}}" alt="Logo" class="logo ">
        </a>
    </div>
</div>
{% endblock %}
