{% extends 'base.html.twig' %}

{% block title %}Liste des Recettes{% endblock %}

{% block body %}

<div class="container-fluid frame p-3">
    <div class="d-flex justify-content-around">
        <a href="" class="btn button ">Recettes Sucrées</a>
        <a href="" class="btn button">Recettes Salées</a>
    </div>
</div>
{% endblock %}
