{% extends 'base.html.twig' %}

{% block title %}Ajouter un nouvel utilisateur{% endblock %}

{% block body %}

    <style>
        .logoCC{ border: 1px solid black; box-shadow: 0 0 10px white; margin:0 auto; max-width: 40rem; width: 95%;  background-color: rgb(222, 182, 117)}
        .logo{ max-width:100%; max-height:100%;}
    </style>

    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="d-flex align-items-center h-100">
        <div class="d-flex logoCC rounded-2 align-items-center flex-column
">
            <h1 class="my-3">Ajouter un nouvel utilisateur</h1>
            {{ form_errors(registrationForm) }}
            <div class="w-75 m-3">
                {{ form(registrationForm) }}
            </div>
        </div>
    </div>
        
{% endblock %}