{% extends 'base.html.twig' %}

{% block title %}Nouvelle recettte?{% endblock %}

{% block body %}

  <h1 class="m-3"> Ajouter une nouvelle recette:</h1>
  <div class="m-5 p-4 frame">
    {{ form(recipeForm) }}
  </div>

{% endblock %}
