{% extends 'base.html.twig' %}

{% block title %}Toutes les recettes{% endblock %}

{% block body %}
    <h1 class="m-3"> Liste des recettes</h1>
    <table class="table frame">
        <thead>
            <tr>
                <th scope="col">Aperçu</th>
                <th scope="col">Nom</th>
                <th scope="col">Recette</th>
            </tr>
        </thead>
        <tbody>
            {% for recipe in recipes %}
                <tr>
                    <td scope="row"><img style="height:125px; width:125px"  src="{{ recipe.recipe_preview }}" alt="{{ recipe.name }}"></td>
                    <td scope="row" class="fst-italic">{{ recipe.name }}</td>
                    <td scope="row"><img src="{{ recipe.recipe_link }}" alt="voir la recette"></td>
                </tr>
            
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
